.godot/uid_cache.bin
.godot/scene_groups_cache.cfg
.godot/editor/World.tscn-folding-fd18b4b8dea5997fd52978ad4039a1d1.cfg
.godot/editor/World.tscn-editstate-fd18b4b8dea5997fd52978ad4039a1d1.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/recent_dirs
.godot/editor/project_metadata.cfg
.godot/editor/filesystem_update4
.godot/editor/favorites.Node
.godot/editor/editor_layout.cfg
.godot/editor/create_recent.Node
